@model CineProyecto.Models.Domain.Movie


@{
}
<div class="movie-detail w-90 m-auto">
    <div class="img-container">
        <img alt="image" src="/Uploads/@Model.MovieImage">
    </div>

    <div class="detail-container">
        <h2>@Model.Title</h2>
        <br>
        <br>
        <h4>Sinopsiss : @Model.Sinopsis</h4>
        <br>
        <h4>Director : @Model.Director</h4>
    </div>
</div>
<center>
<div class="w-80 m-auto">
    <a href="/Home/Index" class="btn btn-sec">Regresar</a>
</div>
</center>