@model CineProyecto.Models.Domain.Genre
@{
}
<center>
<form class="w-40" asp-action="Update" method="post">
    <h2 class="pb-10">ACTUALIZAR GENERO</h2>
    <input type="hidden" class="input" asp-for="Id">

    <div class="input-container">
        <label asp-for="GenreName" class="w-40">Nombre Del Genero</label>
        <input type="text" class="input" asp-for="GenreName">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="GenreName"> </span>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <center>
        <button class="btn btn-danger" type="submit">Editar</button>
        <a class="btn btn-sec" href="/Genre/GenreList">Todos Los Generos</a>
    </center>
</form>
</center>